.button {
    display: inline-block;
    font-weight: 500;
    padding: .8rem 2rem;
    transition: all ease-in-out .2s;
    @apply mt-4;
    &--rounded {
        border-radius: 10px;
    }
    &--rounded-full {
        border-radius: 50px;
    }
    &--filled {
        background-color: $color-green;
        color: $color-text;
        &:hover {
            background-color: darken($color-green, 5);
        }
    }
    &--stroked {
        background-color: transparent;
        border: solid 2px $color-green;
        color: $color-green;
        &:hover {
            background-color: $color-green;
            color: $color-text;
        }
    }
}