.card {    
    @apply px-4 py-12;
    border-radius: 10px;
    border: 2px solid $border-grey;
    width: 100%;
    transition: all ease-in-out .2s;
    &:hover {
        border-color: $color-green;
    }
    &__header {
        @apply mt-6 mb-8;
    }
    &__footer {
        .button {
            @apply mt-0;
        }
        span {
            font-size: inherit;
        }
    }
}

.card-container {
    justify-content: center;
    &--scrolled {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        box-sizing: border-box;
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
        -ms-overflow-style: none;
        scrollbar-width: none;
        gap: 10px;
        @apply px-2 -ml-4 -mr-4 lg:-ml-0 lg:-mr-0;
        @media screen and (min-width: 1024px) {
            flex-wrap: wrap;
            scroll-snap-type: none;
            overflow-x: auto;
            gap: 1rem;
            justify-content: space-between;
            @apply ml-0 mr-0;
        }        
        .card {
            scroll-snap-align: center;
            flex-shrink: 0;
            width: calc(100% - 1rem);
            @media screen and (min-width: 640px) {
                width: calc((100% / 2) - 1rem);
            }
            @media screen and (min-width: 1024px) {
                scroll-snap-align: unset;
                width: calc((100% / 3) - 1rem);
                @apply px-4 py-12;
            }
        }
    }
}