.card {        
    padding: 3rem 1rem;
    border-radius: 10px;
    border: 2px solid $border-grey;
    width: 100%;
    transition: all ease-in-out .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        border-color: $color-green;
    }
    &__header {
        margin: 1.5rem 0 2rem 0;
    }
    &__footer {
        margin-top: auto;
        .button {
            margin-top: 0;
        }
        span {
            font-size: inherit;
        }
    }
    &__icon {
        display: inline-block;
    }
}

.card-container {
    
    &--scrolled {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        overflow-x: scroll;
        box-sizing: border-box;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 0 .5rem;
        margin: 0 -1rem;
        &::-webkit-scrollbar {
            display: none;
        }    
        @include mq('lg') {
            flex-wrap: wrap;
            scroll-snap-type: none;
            overflow-x: auto;
            gap: 1rem;
            justify-content: space-between;
            margin-left: 0;
            margin-right: 0;
        }        
        .card {
            scroll-snap-align: center;
            flex-shrink: 0;
            width: calc(90% - 1rem);
            @include mq('sm') {
                width: calc((100% / 2) - 3rem);
            }
            @include mq('lg') {
                scroll-snap-align: unset;
                width: calc((100% / 3) - 3rem);
                padding: 3rem 1rem;
            }
        }
    }
}