.list {
    ul {
        margin-bottom: 4rem;
        li {
                &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &--custom {
        ul {
            li {
                list-style-image: url('../../images/icon-check.svg');
                padding-left: 1rem;
                width: fit-content;
                margin: 0 auto;
                @include mq('sm') {
                    padding-left: .25rem;
                }
            }            
        }
    }
}