footer {
    background-color: $background-grey;
    @apply px-4 py-12;
    .container {
        .widget {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }            
        }
        @media screen and (min-width: 768px) {            
            display: grid;
            grid-template-areas: 
                'col_1 col_1 col_1'
                'col_2 col_3 col_4';
            grid-template-columns: repeat(3, 1fr);
            .widget {            
                &:nth-child(1){
                    grid-area: col_1;
                }
                &:nth-child(2){
                    grid-area: col_2;
                }
                &:nth-child(3){
                    grid-area: col_3;
                }
                &:nth-child(4){
                    grid-area: col_4;
                }
            }
        }
        @media screen and (min-width: 1024px) {            
            display: grid;
            grid-template-areas: 'col_1 spacing col_2 col_3 col_4';
            grid-template-columns: 2fr minmax(50px, 200px) repeat(3, 1fr);
            .widget {            
                &:nth-child(1){
                    grid-area: col_1;
                }
                &:nth-child(2){
                    grid-area: col_2;
                }
                &:nth-child(3){
                    grid-area: col_3;
                }
                &:nth-child(4){
                    grid-area: col_4;
                }
            }
        }
    }
    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}