.footer {
    background-color: $background-grey;
    padding: 3rem 1rem;
    @include mq('md') {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &__widgets {
        text-align: center;
        @include mq('md') {         
            display: grid;
            grid-template-areas: 
                'col_1 col_1 col_1'
                'col_2 col_3 col_4';
            grid-template-columns: repeat(3, 1fr);
            .widget {            
                &:nth-child(1){
                    grid-area: col_1;
                }
                &:nth-child(2){
                    grid-area: col_2;
                }
                &:nth-child(3){
                    grid-area: col_3;
                }
                &:nth-child(4){
                    grid-area: col_4;
                }
            }
        }
        @include mq('lg') {
            display: grid;
            grid-template-areas: 'col_1 spacing col_2 col_3 col_4';
            grid-template-columns: 2fr minmax(50px, 200px) repeat(3, 1fr);
            text-align: left;
            .widget {            
                &:nth-child(1){
                    grid-area: col_1;
                }
                &:nth-child(2){
                    grid-area: col_2;
                }
                &:nth-child(3){
                    grid-area: col_3;
                }
                &:nth-child(4){
                    grid-area: col_4;
                }
            }
        } 
        .widget {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }  
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }                      
        }       
    }
}